@import "slick.less";
@import "slick-theme.less";
//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .img-with-zoom-150 {
        zoom: 150%;
    }

    .img-with-zoom-75 {
        zoom: 75%;
    }

    .img-grey-scale {
        filter: grayscale(100%);
    }

    .swatch-option:focus {
        box-shadow: none;
    }

    #options-of-colors-content-wrapper {
        .lib-css(border, 1px solid @color-gray34);
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        width: 120px;
    }

    .swatch-option.color {
        .lib-css(border-bottom, 1px solid @color-gray34);
        .lib-vendor-prefix-display(flex);
        border: none;
        justify-content: space-between;
        margin: 0;
        width: 100px;
    }

    .options-of-colors-button {
        .lib-css(border, 1px solid @color-gray34);
        .lib-vendor-prefix-display(flex);
        cursor: pointer;
        justify-content: space-around;
        margin: 0;
        width: 120px;
    }

    .swatch-attribute.color {
        .swatch-attribute-selected-option {
            display: none;
        }
    }

    .user-bar {
        .lib-css(border, 1px solid @color-gray76);
        .lib-vendor-prefix-display(flex);
        height: 45px;
    }

    .user-bar > div {
        .lib-css(border-right, 1px solid @color-gray76);
        .lib-css(box-sizing, border-box, 1);
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        width: calc(100% / 3);
    }

    .user-bar > div:hover {
        .lib-css(color, @color-red9);
    }

    .user-bar > div:hover svg {
        fill: @color-red9;
    }

    .user-bar:last-child {
        border: none;
    }

    .content-search-user-bar {
        .lib-css(border-bottom, 1px solid @color-gray76);
        padding: 20px 0 25px;
        .block.block-search {
            float: none;
            margin: auto;
            .input-text {
                border-radius: 20px;
                height: 38px;
                padding: 5px 33px;
            }
            .input-text:focus {
                .lib-css(border, 1px solid @color-black);
                box-shadow: none;
            }
            .action.search {
                left: 13px;
                right: unset;
                top: 4px;
            }
            .label {
                bottom: 20px;
                float: none;
                left: 10px;
                position: absolute;
            }
        }
        .form.minisearch {
            position: relative;
        }
    }

    .content-cart-user-bar {
        .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.mage-dropdown-dialog {
            display: block !important;
        }
        .block.block-minicart.ui-dialog-content.ui-widget-content {
            box-shadow: none;
            position: static;
        }
        .minicart-wrapper {
            display: block;
            float: none;
            margin: auto;
            max-width: 80%;
            position: static;
            .block-minicart {
                border: none;
                margin-top: 0;
                .items-total {
                    float: none;
                }
                .subtotal {
                    text-align: left;
                    .amount.price-container {
                        display: inline-block;
                    }
                }
                .amount {
                    .price-wrapper:first-child {
                        .price {
                            font-size: inherit;
                            font-weight: inherit;
                        }
                    }
                }
                .actions {
                    .primary {
                        .action.primary {
                            .lib-css(color, @color-black);
                            background: none;
                            border: none;
                            display: inline;
                            font-size: 1.5rem;
                            font-weight: 700;
                            height: auto;
                            padding: 0;
                            width: auto;
                        }
                    }
                    .primary:hover {
                        text-decoration: underline;
                    }
                    .secondary {
                        margin: 0 10px 0px;
                        text-align: left;
                        a {
                            .lib-css(color, @color-black);
                            font-size: 1.5rem;
                            font-weight: 700;
                        }
                    }
                }
            }
            .product-item:nth-child(even) {
                .lib-css(background-color, @color-gray-light0);
            }
            .product.actions {
                position: absolute;
                right: 0;
                top: 25px;
            }
        }
        .minicart-items-wrapper {
            border: none;
            height: fit-content !important;
        }
        .minicart-items {
            .product-item:not(:first-child) {
                border-top: none;
            }
            .product-item {
                padding: 5px 0;
                position: relative;
            }
            .product-item-name {
                margin: 0;
                a {
                    .lib-css(color, @color-black);
                }
            }
            .product-item-details {
                .details-qty {
                    display: inline-block;
                }
                .price-container {
                    display: inline-block;
                }
                .price {
                    font-weight: 400;
                }
            }
            .action.delete:before {
                background: url(http://magento-train.loc/pub/static/version1644936271/frontend/Diana/default-theme/en_US/images/btn_remove.png) no-repeat;
                background-position: left top;
                content: '';
                height: 11px;
                width: 15px;
            }
            .action.delete:hover:before {
                background-position: left bottom;
            }
        }
    }

    .account-user-bar {
        position: relative;
        .customer-welcome {
            position: static;
            .header.links {
                width: 100%;
            }
        }
        .action.switch {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        .customer-menu {
            a {
                font-size: 14px;
                font-weight: 400;
                text-transform: capitalize;
            }
        }
        .login-link {
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}

//
//  Mobile (styles-m.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {
    .identity-breakpoint {
        background-color: red;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .identity-breakpoint {
        background-color: orange;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .identity-breakpoint {
        background-color: yellow;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .identity-breakpoint {
        background-color: green;
    }

    .content-search-user-bar {
        .block.block-search {
            .input-text {
                position: static;
            }
            .control {
                border: none;
            }
            .form.minisearch {
                margin: 0 15px;
            }
        }
    }

    .page-header {
        border-bottom: none;
    }
}

//
//  Desktop (style-l.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .identity-breakpoint {
        background-color: lightskyblue;
    }

    .content-search-user-bar {
        .block.block-search {
            width: 50%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .identity-breakpoint {
        background-color: blue;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .identity-breakpoint {
        background-color: purple;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xxl) {
    .identity-breakpoint {
        background-color: khaki;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xxxl) {
    .identity-breakpoint {
        background-color: teal;
    }
}

