@import "slick.less";
@import "slick-theme.less";
//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .img-with-zoom-150 {
        zoom: 150%;
    }

    .img-with-zoom-75 {
        zoom: 75%;
    }

    .img-grey-scale {
        filter: grayscale(100%);
    }
}

//
//  Mobile (styles-m.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {
    .identity-breakpoint {
        background-color: red;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .identity-breakpoint {
        background-color: orange;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .identity-breakpoint {
        background-color: yellow;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .identity-breakpoint {
        background-color: green;
    }
}

//
//  Desktop (style-l.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .identity-breakpoint {
        background-color: lightskyblue;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .identity-breakpoint {
        background-color: blue;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .identity-breakpoint {
        background-color: purple;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xxl) {
    .identity-breakpoint {
        background-color: khaki;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xxxl) {
    .identity-breakpoint {
        background-color: teal;
    }
}

